:root {
  --main-bg-color: #F5F5F5;
  --header-btn-border: #4F46E5;
  --btn-bg: #4F46E5;
  --card-bg-color: white;

  --button-opacity: .7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {

  background-color: var(--main-bg-color);
}

header {
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
}

.center-header {
  width: 1566px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-side {
  display: flex;
}

.browse-courses {
  width: 210px;
  font-size: 20px;
}
.enrolled-courses{
  width: 217px;
}

.browse-courses,
.enrolled-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  margin-right: 8px;
  transition: .2s;
  cursor: pointer;
}

.browse-courses:hover,
 .enrolled-courses:hover{
  opacity: var(--button-opacity);
}

.logged-in {
  display: flex;
  gap: 36px;
  align-items: center;
}

.logged-out {
  margin-left: 28px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.logged-out button {
  background-color: none;
  border: 2px solid var(--header-btn-border);
  padding: 18px 25px;
  color: var(--btn-bg);
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.logged-out button:hover {
  opacity: var(--button-opacity);
}

.logged-out button:nth-child(2) {
  background-color: var(--btn-bg);
  color: white;
}

.hero-slider {
  width: 1566px;
  height: 420px;
  margin: 64px auto;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide1, .slide2, .slide3 {
  width: 100%;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform .5s;
}

.slider-btn2, .slider-btn1 {
  top: 216px;
}
.slider-btn3 {
  top: 187px;
}
.slider-btn {
  position: absolute;
  left: 48px;
  padding: 20px 25px;
  border: none;
  background-color: var(--btn-bg);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.slider-arrows {
  position: absolute;
  top: 311px;
  left: 1386px;
  width: 132px;
  height: 54px;
  display: flex;
  justify-content: space-between;
}

.slider-dots {
  width: 1206px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 334px;
  left: 180px;
}

.dot {
  width: 57px;
  height: 8px;
  background-color: #C1BCBC80;
  border-radius: 9px;
  cursor: pointer;
}

.featured-courses {
  width: 1566px;
  height: 684px;
  margin: 64px auto;
}

.featured-title {
  font-size: 40px;
}

.featured-text {
  font-size: 18px;
  margin-top: 6px;
}

.featured-curses-wraper {
  width: 100%;
  height: 576px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.each-featured-course {
  width: 490px;
  height: 544px;
  padding: 16px 8px;
  border-radius: 12px;
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.featured-curse-image {
  width: 466px;
  height: 262px;
  border-radius: 10px;
}

.lecturer-raiting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.lecturer {
  font-size: 14px;
  color: #8A8A8A;
}

.rating {
  width: 44px;
  height: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.each-featured-title {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: start;
  font-weight: bold;
  margin-top: 12px;
}

.featured-description {
  color: #8A8A8A;
  width: 412px;
  font-size: 16px;
  display: flex;
  justify-content: start;
  margin-top: 16px;
}

.featured-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  height: 58px;
}

.featured-price {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #8A8A8A;
  width: 167px;
  justify-content: space-between;
}

.featured-footer button {
  height: 100%;
  width: 116px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  transition: .2s;
  cursor: pointer;
}

.featured-footer button:hover {
  opacity: var(--button-opacity);
}